html {
    position: relative;
    min-height: 100%;
  }
body {
    /* Margin bottom by footer height */
margin-bottom: 300px;
}

footer a {
    color: white;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }