{% load static %}
<!DOCTYPE html>
<html>
{# Applies the head to the pages base #}
{% include "wiki/head.html" %}

<body>
    {# Applies the header to the pages base #}
    {% include 'wiki/header.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

{% block content %}
    NO CONTENT PROVIDED
    {% block contentTitle %}
    {% endblock %}
{% endblock content %}

{# Applies the footer to the pages base #}
    {% include 'wiki/footer.html' %}
{# Applies the scripts to the pages base #}
    {% include 'wiki/scripts.html' %}

</body>

</html>