{% extends "wiki/base.html" %}

{% load staticfiles %}
{% block content %}

<header>
    <h3 class="text-center">Editing: {{ page_name }}</h3>
</header>

<form method="post" action="{% url 'wiki:save_page' page_name %}">
    {% csrf_token %}
    <div style="margin: 20px 25% 10px 25%;">
            <textarea id="id_content" name="content" rows="10" style=" width: 90%;">
{{content}}
    </textarea>
    </div>
    <br>

    <div class="text-center">
        <input class="btn btn-primary" name="Save" type="submit" value="Save" style="margin-right:5%; display: inline-block; min-width: 150px;">
        <button class="btn btn-primary" name="Cancel" style="right: 0; margin-left:5%; display: inline-block;  min-width: 150px; color: white;">Cancel</button>
    </div>
</form>
{% endblock %}