{% load static %}
{# Displays the pages footer #}
<!-- Footer -->
<footer class="page-footer font-small pt-1 text-white" style="background-color: #263238!important;">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">
      <!-- Grid column -->
      <div class="col-md-12 mx-auto">
        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-2 mb-2 text-center" style="font-size:16px;">Footer Content</h5>
        <p style="font-size:14px; text-align: center;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
      </div>
  </div>
  {% if not request.user.is_authenticated %}
  <hr>
  <ul class="list-unstyled list-inline text-center py-1">
    <li class="list-inline-item">
      <h5 class="mb-1" style="font-size:18px;">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="{% url 'wiki:signup_page' %}" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  {% endif %}
  <!-- Copyright -->
  <div class="footer-copyright text-center py-9" style="background-color: rgba(0,0,0,.2);;">
    <p style="padding: 15px 0 15px 0; margin-bottom:0px;">
      &copy; 2019. All rights reserved. MyWiki created by Andrew Tibbles.
    </p>
  </div>
  <!-- Copyright -->
</footer>